@import "values.css";
@import "navWheel.css";
@import "header.css";

.contact-container {
    position: relative;
    max-width: 1163px;
    width: 100%;
    top: 10vh;
    background-image: url("../media/writing.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center -160px;
    border-radius: 16px;
    overflow: hidden;
}

.contact-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(34, 34, 34, 0.7);
    z-index: 0;
}

.contact-container > * {
    position: relative;
    z-index: 1;
}

a {
    color: var(--bs-success);
}

a:hover,
a:focus {
    color: var(--bs-info);
}

.icon{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font-size: 40px;
    text-shadow: none;
}