@import "values.css";
@import "navWheel.css";
@import "header.css";
@import "projectsCloud.css";

.gradient-border{
    display: inline-block;
    border-radius: 50%;
    background: linear-gradient(45deg, #00C7C7,#0B4F6C);
    padding: 0.5vw;
}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile-pic{
    width: 24vw;
    height: 24vw;
    border-radius: 50%;
    min-width: 150px;
    min-height: 150px;
}

.skylander{
    width: 100%;
}

.time-line > svg{
    width: 95%;
    height: auto;
    max-height: 90vh;
    display: block;      /* required for margin auto centering */
    margin: 0 auto;
}

.time-line > svg > tspan{
    text-decoration: underline;
}

[id$="-star"] > path {
    transition: all 0.5s ease-in-out;
}



