@import "values.css";
@import "navWheel.css";
@import "header.css";

.pixel-art{
    image-rendering: pixelated;
}

.link{
    font-size: 30px;
    text-align: center;
}

.back-arrow > svg {
    width: 5vw;
    min-width: 35px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;
    transition: color 0.5s ease-in-out;;
}

@media (max-width: 992px) {

    .link{
        font-size: 20px;
    }
}