@import "values.css";
@import "navWheel.css";
@import "header.css";

.header{
    filter: blur(10px);
    transform: scale(1.1);
}

#cloud-border{
    transition: all 0.5s ease-in-out;
}

#project-cloud-box{
    width: 100%;
    height: 100%;
    text-shadow: none;
    text-align: center;
}

#project-cloud-title{
    font-size: 7px;
}

#project-cloud-info{
    font-size: 5px;
}

#project-cloud {
    width: 100%;
    padding: 1%;
    height: auto;
}

