@import "values.css";
@import "navWheel.css";
@import "header.css";

.pixel-art{
    image-rendering: pixelated;
}

.link{
    font-size: 30px;
    text-align: center;
}

@media (max-width: 992px) {

    .link{
        font-size: 20px;
    }
}