:root {
    /* Theme colors */
    --bs-primary: #0B4F6C;
    --bs-secondary: #00C7C7;
    --bs-success: #E42548;
    --bs-info: #F5F0F6;
    /* 
    --bs-warning; 
    --bs-danger; 
    --bs-light:
    */
    --bs-dark: #222222;

    /* RGB versions for opacity use */
    --bs-primary-rgb: 11, 79, 108;
    --bs-secondary-rgb: 0, 199, 199;
    --bs-success-rgb: 228, 37, 72;
    --bs-info-rgb: 245, 240, 246;
    /*
    --bs-warning-rgb;
    --bs-danger-rgb;
    --bs-light-rgb:
    */
    --bs-dark-rgb: 34, 34, 34;

    /* Body text and background 
       --bs-body-bg-rgb
    */
    --bs-body-color-rgb: var(--bs-info);
    --bs-body-outline: var(--bs-primary);
    
    /* display values */
    .display-1,
    .display-2,
    .display-3,
    .display-4,
    .display-5,
    .display-6 {
        font-weight: 400 !important;
    }

    p, li {
        font-size: clamp(0.9375rem, 2vw, 1.5rem);
    }
}

@font-face {
    font-family: "QuikSand"; /* This is the name you'll use in CSS */
    src: url("../fonts/quicksand-font/QuicksandboldRegular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    width: 100%;
    font-family: 'QuikSand', sans-serif;
    color: var(--bs-body-color-rgb);
    text-shadow:
            -1.25px -1.25px 0 var(--bs-body-outline),
            1.25px -1.25px 0 var(--bs-body-outline),
            -1.25px  1.25px 0 var(--bs-body-outline),
            1.25px  1.25px 0 var(--bs-body-outline);
}

p{
    margin: 0;
}

svg tspan, text {
    fill: var(--bs-body-color-rgb) !important;
}

a, i {
    color: var(--bs-success);
    text-shadow: none;
}

a:hover{
    color: var(--bs-info);
}

html{
    scrollbar-color: var(--bs-secondary) var(--bs-primary);
    scroll-behavior: smooth;
}